#containerHome {
  background-image: url(../../assets/images/brownTable1.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: contain;
  overflow-x: hidden;
  justify-content: flex-start;
}
.btnModal{
  margin-top: 90px;
  border-radius:10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background-color:#A2C4C9;
  font-size: 15px;
  font-weight: bold;
}


